* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    /* border: 1px solid green; */
}

:root {
    --background-light: #ECE5DD80;
    --background-dark-primary: #181818;
    --background-dark-secondary: #282828;
    --color-grey: #8899A6;
    --color-blue: #0096FF;
    --color-green: #28BE35;
    --color-red: #E80000;
    --opacity-grey: #3C3C3CCC;
    --white: #FFF;
    --black: #000;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/********** Common **********/
.no-bullet {
    list-style-type: none;
}

.no-decoration {
    text-decoration: none;
}

img {
    display: block;
    object-fit: cover;
}

.cursor-default {
    cursor: default;
}
/********** Flexbox **********/
.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-space {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}
/***** Gap *****/
.large-row-gap {
    row-gap: 139px;
}

.small-column-gap {
    column-gap: 15px;
}

.tiny-column-gap {
	column-gap: 5px;
}

.small-row-gap {
	row-gap: 15px;
}

.tiny-row-gap {
	row-gap: 10px;
}

/***** Flexbox responsive *****/
.flex-row-to-column {
    display: flex;
}

/********** Position **********/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.display-dynamic {
    display: 
    none;
}

.none {
    display: none;
}

.text-center {
    text-align: center;
}

/********** Box size **********/
.h-100vh {
    height: 100vh;
}

.width-100 {
    width: 100%;
}

.size-32 {
    height: 32px;
    width: 32px;
}

.btn {
    padding: 10px 15px;
    border-radius: 30px;
}


.no-border {
    border: 0;
}

/********** Font-size **********/
.large-font-size {
    font-size: 288px;
}

.medium-font-size {
    font-size: 36px;
}

.font-size-medium {
    font-size: 32px;
}

/*********** Border **********/
.border-black {
    border: 2px solid var(--black);
}

.border-white {
    border: 2px solid var(--white);
}

.border-grey {
    border: 1px solid var(--color-grey);
}

.border-blue {
    border-bottom: 2px solid var(--color-blue);
}

/*********** Background-Color **********/
.bg-light-1 {
    background-color: var(--white);
}

.bg-light-2 {
    background-color: var(--background-light);
}

.bg-darker-1 {
    background-color: var(--background-dark-primary);
}

.bg-darker-2 {
    background-color: var(--background-dark-secondary);
}

.bg-dark {
    background-color: var(--color-grey);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-red {
    background-color: var(--color-red);
}

/*********** Colors **********/
.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-green {
    color: var(--color-green);
}

.color-purple {
    color: purple;
}

.color-blue {
    color: var(--color-blue);
}

.color-red {
    color: var(--color-red);
}

.color-grey {
    color: var(--color-grey);
}

/*Header*/
.header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px;
    border-bottom: 1px solid var(--opacity-grey);
    z-index: 30;
}

.btn-lang {
    padding-top: 8px;
    margin: 0 5px;
}

/*Main*/
main {
    margin-bottom: 100px;
}

.main-top {
    height: 100vh;
}

@keyframes frameMove {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-50px,-50px);
    }
}

.frame-left {
    width: 305px;
    height: 305px;
    animation: frameMove 1000ms  500ms forwards;
}

.image-left {
    width: 298px;
    height: 298px;
    z-index: 10;
    transform: translate(3px,3px);
}

.div-right {
    height: 298px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.div-right .title {
    font-family: 'Oregano', cursive;
    font-size: 85px;
}

.div-right .sub-title {
    font-size: 30px;
}

.nav-links {
    height: 50px;
}

@keyframes link1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(25px);
    }
}
@keyframes link2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(75px);
    }
}
@keyframes link3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25px);
    }
}
@keyframes link4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-75px);
    }
}
.link-1 {
    animation: link1 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link-2 {
    animation: link2 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link-3 {
    animation: link3 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link-4 {
    animation: link4 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}

.border-cercle {
    border-radius: 50%;
}
.section-2 {
   padding: 50px 100px;
}
/*Filter*/
.section-1 {
    padding: 100px 0 0 0;
    flex-direction: column;
    row-gap: 50px;
}

.section-1 .list {
    column-gap: 50px;
}

/*Projects*/
.box-container {
    margin-top: 100px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px 15px;
}

.box {
    width: 100%;
    max-width: 530px;
    padding: 15px 20px ;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
}

.picture img {
    height: 250px;
    width: 100%;
    transition: transform .2s;
}

.picture img:hover  {
    transform: scale(1.03);
}

.box-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.box-section span {
    font-style: italic;
    font-size: .8rem;
}

/*Footer*/
.footer {
    height: 200px;
    flex-direction: column;
    row-gap: 25px;
    border-top: 1px solid var(--opacity-grey);
 }

 /*Admin Page*/
 .btn-delete {
    height: 35px;
 }

 /**********Media Query*/
/***Tablet***/
@media screen and (max-width: 1024px) {
    .div-right {
        height: 328px;
    }

    .div-right .title {
        font-size: 70px;
    }

    .div-right .sub-title {
        font-size: 24px;
    }

    .box-container {
        margin-top: 50px;
        padding: 0;
        grid-template-columns: 1fr;
        row-gap: 35px;
    }
/* 
    .box {
        margin: 0 auto;
    } */
    
    @keyframes frameStatic {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translate(0);
        }
    }
    
    .frame-left {
        animation: frameStatic;
        z-index: 20;
    }
}

 /***Mobile***/
 @media screen and (max-width: 750px) {
    .header {
        padding: 0 10px;
    }
    
    .main-top {
        height: auto;
        padding: 90px 0 0 0;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }
    
    .div-right .title {
        font-size: 60px;
    }

    .div-right .sub-title {
        font-size: 20px;
    }
    
    .section-size {
        margin-top: 25px;
        text-align: justify;
        padding: 15px;
        font-size: 17px;
    }
    
    .section-1 {
        padding: 50px 0 0 0;
    }
    
    .section-1 .list {
        column-gap: 15px;
    }
    
    .picture {
        height: auto;
    }
    
    .picture img {
        height: 185px;
    }

    .box {
        padding: 10px 10px 0 10px;
        transition: height 1250ms;
    }

    .box-section {
        justify-content: flex-start;
        row-gap: 10px;
    }

    .error-container {
        row-gap: 50px;
    }
    
    .large-font-size {
        font-size: 100px;
    }
    
    .medium-font-size {
        font-size: 20px;
        text-align: center;
    }

    .small-column-gap {
        column-gap: 10px;
    }

    .display-dynamic {
        display: flex;
    }

    .flex-row-to-column {
        flex-direction: column;
    }

    .btn {
        padding: 8px 12px;
        font-size: 15px;
    }
}