.form-container {
    width: 500px;
    margin: 25px 0;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-style {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
}

.input-style {
    height: 35px;
    width: 250px;
    margin: 15px 0;
}

.input-size {
    height: 35px;
}

.area-size {
    height: 100px;
    width: 250px;
    margin: 15px 0;
}

.title {
    font-size: 22px;
}